extends layout

block content
  h1= "Write a New Message"
  div
    form(method='POST', action='/new')
      div
        label(for='author') Name
        input(id='author', type='text', name='author')
      div
        label(for='message') Message
        textarea(id='message', type='text', name='message')
      input(type='submit', value='Submit Message')