extends layout

block content
  div
    h1= title
    each message in messages
      h3= message.text
      h5= message.user
      h5= message.added
  div
    a(href="new")
      button Create New Post
